<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Guess By Image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark" style="box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 42em;">
        <h1>Guess the soccer player by his face!</h1>
        <main class="px-3" style="margin:0 auto;">
            <div id="player_stats">
                <img src={{player.image_url}}" style="width: 150px; margin: 30px;" />
                <!--<p class="lead">name= {{player.name}}</p>
                <p class="lead">position= {{player.position}}</p>
                <p class="lead">team= {{player.team}}</p>
                <p class="lead">league= {{player.team.league}}</p>
                <p class="lead">nationality= {{player.nationality}}</p>-->
            </div>

            <p>
                Words: {{words}}
            </p>

            <form action="/findout/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type=text id="input_name" name="input_name" class="form-control" placeholder="Name" required />
                </div>
                <input value="{{player.name}}" name="input_correct" id="input_correct" type="hidden"/>
                <div>
                    <input type="submit" value="Check it" class="btn btn-success p-2 m-3" />
                </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success" role="alert">
                <strong class="text-dark">{{ message }}</strong>
                <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
            {% endif %}
        </main>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>